{% extends "layout.html.twig" %}

{% block content %}
<h1>Homepage</h1>


<div class="product-list">
{% for bike in bikes %}
    {% if bike.image %}<a href="/products/{{bike.id}}"><img src="/images/>
{% endfor %}

{% endblock %}